
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background2);
    font-family: var(--font-body);
    font-size: 17px;
    height: 100%; 
}

h1 {
    text-align: center;
}

.card {
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    padding: 1rem;
    text-align: center;
}

footer {
    text-align: center;
}

#current-temp {
    color: red;
}




