/* -------- ROOT VARIABLES -------- */
:root {
  --primary: #303554;     
  --accent1: #E4DECD;   
  --secondary: #82716E;   
  --accent2: #C2B490;    
  --background: #303554;
  --background2: #FAFAFA;  
  --text: #FAFAFA; 
  --text2: #111111;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background2);
    font-family: var(--font-body);
    font-size: 17px;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}


/* ========== HEADER ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background2);
  color: var(--text2);
  border-bottom: 20px solid var(--accent2);
  padding: 2rem 2rem;
}


.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.branding img {
  width: 60px;
  height: 60px;
  padding: 1px
}

.branding span {
  font-family: var(--font-head);
  font-size: 1.25rem;
  font-weight: 600;
}

/* HAMBURGER */

.hamburger {
  justify-self: end;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text2); 
}


.hamburger::before {
  content: "\2630"; /* hamburger icon */
}

.hamburger.show::before {
  content: "\00D7"; 
}

/* NAV */

.navigation { 
    display: none;
}


.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.navigation li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  border: 2px solid var(--accent2);  
  border-radius: 6px;

}

.navigation li a:hover {
  background-color: var(--accent2); 
  color: var(--text2); 
  border: 2px solid var(--accent2);
  border-radius: 6px;
}


.navigation li a.active {
  background-color: var(--accent2);
  color: var(--text2);
  font-weight: 600;
}


/*  MAIN DEFAULT  */
main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

/*  FOOTER  */
footer {
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  text-align: left;
  border-top: 20px solid var(--accent2);
}

.contact {
  margin-top: 5rem;
  font-weight: bold;
}
.contact-info p {
  margin: 0.25rem 0;
  margin-left: 2rem;
}


.footer-info p {
  margin: 0.25rem 0;
  margin-right: 2rem;
}

.contact-info {
  align-items: flex-start;
  margin-bottom: 1rem;
}

.social img {
  margin: 0 6px;
}


.social a:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}








/************* HOME PAGE *****************/

.hero {
  position: relative;
  width: 100%;
  min-height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  padding-top: 10rem; 
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

.hero h1,
.hero p,
.hero .cta {
  position: relative;
  color: var(--text);
  margin: 0.5rem 0;
  max-width: 90%;
}

/* Button */
.hero .cta {
  background-color: var(--accent2);
  color: var(--text2);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.hero .cta:hover {
  background-color: var(--accent1);
}
















