/* -------- ROOT VARIABLES -------- */
:root {
  --primary: #303554;     
  --accent1: #E4DECD;   
  --secondary: #82716E;   
  --accent2: #C2B490;    
  --background: #303554;
  --background2: #FAFAFA;  
  --text: #FAFAFA; 
  --text2: #111111;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background2);
    font-family: var(--font-body);
    font-size: 17px;
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
}


/* ========== HEADER ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background2);
  color: var(--text2);
  border-bottom: 20px solid var(--accent2);
  padding: 2rem 2rem;
}


.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.branding img {
  width: 60px;
  height: 60px;
  padding: 1px
}

.branding span {
  font-family: var(--font-head);
  font-size: 1.25rem;
  font-weight: 600;
}

/***************** HAMBURGER ****************/

.hamburger {
  justify-self: end;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text2); 
}


.hamburger::before {
  content: "\2630"; 
}

.hamburger.show::before {
  content: "\00D7"; 
}

/****************** NAV *******************/

.navigation { 
    display: none;
}


.navigation.show {
  display: block;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.navigation ul li {
    list-style-type: none;
}

.navigation li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  border: 2px solid var(--accent2);  
  border-radius: 6px;

}

.navigation li a:hover {
  background-color: var(--accent2); 
  color: var(--text2); 
  border: 2px solid var(--accent2);
  border-radius: 6px;
}


.navigation li a.active {
  background-color: var(--accent2);
  color: var(--text2);
  font-weight: 600;
}


/**************** MAIN DEFAULT  **************/
main {
  flex: 1;
  width: 100%;
  margin: 0;
}

/************** FOOTER ******************/
footer {
  background-color: var(--background);
  color: var(--text);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  text-align: left;
  border-top: 20px solid var(--accent2);
}

.contact {
  margin-top: 5rem;
  font-weight: bold;
}
.contact-info p {
  margin: 0.25rem 0;
  margin-left: 2rem;
}


.footer-info p {
  margin: 0.25rem 0;
  margin-right: 2rem;
}

.contact-info {
  align-items: flex-start;
  margin-bottom: 1rem;
}

.social img {
  margin: 0 6px;
}


.social a:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}








/************* HOME PAGE *****************/

.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.hero-img {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 0;
}


.hero-text-box {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  backdrop-filter: blur(3px);
  margin-top: 4rem;
}


.hero-text-box h1, .hero-text-box p {
  color: var(--text);
  margin: 1rem 0;
}

.hero-text-box p {
  margin-bottom: 2rem;
}

.hero-text-box .cta {
  padding-top: 3rem;
}



/* Button */
.hero .cta {
  background-color: var(--accent2);
  color: var(--text2);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.hero .cta:hover {
  background-color: var(--accent1);
}


/******************** Home Section **********************/


.home-section {
  width: 100%;
  padding: 2rem 1rem;
}

.home-title {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
  width: 100%;
}

.events-card,
.weather-card,
.forecast-card {
  background: var(--accent1);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-right: 2rem;
}




/* EVENTS TABLE */



.events-card h3 {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.75rem 1rem;
  
  margin: -1rem -1rem 1rem -1rem;
}

#events-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 1rem;
}

#events-table th,
#events-table td {
  padding: 0.75rem 1rem;
  text-align: left;
}

/* Hide table headers on small screens */
#events-table th {
  display: none;
}

/* Add borders around cells */
#events-table td {
  border: 1px solid var(--secondary);
}

/* Row striping */
#events-table tr:nth-child(even) {
  background-color: var(--accent1);
}

#events-table tr:nth-child(odd) {
  background-color: var(--background2);
}


/*********** spotlight card *************/

.spotlights {
  margin-top: 2rem;
}

#spotlight-container {
  display: grid;
  gap: 1rem;
}

.spotlight-card {
  background: var(--accent1);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.spotlight-card a {
  color: var(--primary);
  text-decoration: underline;
}
























