/* -------- ROOT VARIABLES -------- */
:root {
  --primary: #303554;     
  --accent1: #E4DECD;   
  --secondary: #82716E;   
  --accent2: #C2B490;    
  --background: #303554;
  --background2: #FAFAFA;  
  --text: #FAFAFA; 
  --text2: #111111;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background2);
    font-family: var(--font-body);
    font-size: 17px;
}



/* ========== HEADER ========== */
header {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--background2);
  color: var(--text2);
  border-bottom: 20px solid var(--primary);
  padding: 2rem 2rem;
}

.brading text {
  text-decoration: underline;
  text-decoration-color: var(--primary);  
}


.branding {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.branding img {
  width: 60px;
  height: 60px;
  padding: 1px
}

.branding span {
  font-family: var(--font-head);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--accent2);  
}

/***************** HAMBURGER ****************/

.hamburger {
    background: none;
    color: var(--midnight);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/****************** NAV *******************/

.navigation {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  background-color: var(--background2);
  padding: 0.5rem 0;
  z-index: 1000;
  border-radius: 8px;
}


.navigation.show {
  display: block;
}



.navigation ul {
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    list-style-type: none;
}

.navigation li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  border: 2px solid var(--accent2);  


}

.navigation li a:hover {
  background-color: var(--accent2); 
  color: var(--text); 
}


.navigation li a.active {
  background-color: var(--accent2);
  color: var(--text2);
  font-weight: 600;
}



/************** FOOTER ******************/
footer {
  background-color: var(--background2);
  color: var(--text2);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  text-align: left;
  border-top: 20px solid var(--accent2);
}

.contact {
  margin-top: 5rem;
  font-weight: bold;
}
.contact-info p {
  margin: 0.25rem 0;
  margin-left: 2rem;
}


.footer-info p {
  margin: 0.25rem 0;
  margin-right: 2rem;
}

.contact-info {
  align-items: flex-start;
  margin-bottom: 1rem;
}

.social img {
  margin: 0 6px;
}


.social a:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}








/************* HOME PAGE *****************/


.hero {
  position: relative;    /* <-- this is the important part */
  width: 100%;
  border-top: 8px solid var(--accent2);
  margin-bottom: 0;
}

.hero-img {
  width: 100%;
  display: block;
}


.hero .cta {
  position: absolute;
  bottom: 200px;     /* adjust where you want it */
  right: 100px;      /* adjust for placement */
  background-color: var(--accent2);
  color: var(--text2);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.hero .cta:hover {
  background-color: var(--accent1);
}


/******************** Home Section **********************/



.info-grid {
  display: grid;
  grid-template-columns: 1fr ; 
  gap: 2rem;
  width: 100%;
}

.events-card,
.weather-card,
.forecast-card {
  background: var(--accent1);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-right: 2rem;
}



#forecast-cards img {
    display: none;
}

.forecast-card h3{
  background-color: var(--primary);
  color: var(--text);
  padding: 0.75rem 1rem;
  
  margin: -1rem -1rem 1rem -1rem;
}

.forecast-card {
  padding: 0.5rem 1rem;
}

.forecast-card p,
.forecast-card span {
  font-size: 0.9rem;
  line-height: 1.2;
}

#forecast-cards > div {
  margin-bottom: 0.5rem;
}



/* EVENTS TABLE */



.events-card h3 {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.75rem 1rem;
  
  margin: -1rem -1rem 1rem -1rem;
}

#events-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 1rem;
}

#events-table th,
#events-table td {
  padding: 0.75rem 1rem;
  text-align: left;
}

/* Hide table headers on small screens */
#events-table th {
  display: none;
}

/* Add borders around cells */
#events-table td {
  border: 1px solid var(--secondary);
}

/* Row striping */
#events-table tr:nth-child(even) {
  background-color: var(--accent1);
}

#events-table tr:nth-child(odd) {
  background-color: var(--background2);
}


/*********** spotlight card *************/

.spotlights {
  margin-top: 2rem;
}

#spotlight-container {
  display: grid;
  gap: 1rem;
}

.spotlight-card {
  background: var(--accent1);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.spotlight-card a {
  color: var(--primary);
  text-decoration: underline;
}

.spotlight-logo {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
























