/* -------- ROOT VARIABLES -------- */
:root {
  --primary: #303554;     
  --accent1: #E4DECD;   
  --secondary: #82716E;   
  --accent2: #C2B490;    
  --background: #303554;
  --background2: #FAFAFA;  
  --text: #FAFAFA; 
  --text2: #111111;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background2);
    font-family: var(--font-body);
    font-size: 17px;
}


.page-wrap {
  padding: 0 1rem;
  max-width: 1400px;
  margin: 0 auto;
}



/* ========== HEADER ========== */
header {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--background2);
  color: var(--text2);
  border-bottom: 20px solid var(--primary);
}





.branding {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.branding img {
  width: 60px;
  height: 60px;
  padding: 1px
}

.branding span {
  font-family: var(--font-head);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--accent2);  
}

/***************** HAMBURGER ****************/

.hamburger {
    background: none;
    color: var(--primary);
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/****************** NAV *******************/

.navigation {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  background-color: var(--background2);
  padding: 0.5rem 0;
  z-index: 1000;
}


.navigation.show {
  display: block;
}


.navigation ul {
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    list-style-type: none;
}

.navigation li a {
  display: block;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  border: 2px solid var(--accent2);  


}

.navigation li a:hover {
  background-color: var(--accent2); 
  color: var(--text); 
}


.navigation li a.active {
  background-color: var(--accent2);
  color: var(--text2);
  font-weight: 600;
}



/************** FOOTER ******************/
footer {
  background-color: var(--background2);
  color: var(--text2);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: 20px solid var(--primary);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  text-align: left;
}

.contact {
  margin-top: 5rem;
  font-weight: bold;
}
.contact-info p {
  margin: 0.25rem 0;
  margin-left: 2rem;
}


.footer-info p {
  margin: 0.25rem 0;
  margin-right: 2rem;
}

.contact-info {
  align-items: flex-start;
  margin-bottom: 1rem;
}

.social img {
  margin: 0 6px;
}


.social a:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}





/************* HOME PAGE *****************/


.hero {
  position: relative;   
  width: 100%;
  border-top: 8px solid var(--accent2);
}



.hero-img {
  width: 100%;
  display: block;
}



.hero-text-box {
  padding: 1.5rem;
}

.hero-text-box h2 {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.hero-text-box p {
  margin-bottom: 1rem;
}

.hero .cta {
  display: inline-block;
  background-color: var(--accent2);
  color: var(--text2);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.hero .cta:hover {
  background-color: var(--primary);
  color: var(--text);
}

/******************** Home Section **********************/



.info-grid {
  display: grid;
  grid-template-columns: 1fr ; 
  gap: 1.5rem;
}

.events-card,
.weather-card,
.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--accent);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 6px;
  border: 2px solid var(--primary);
}

/**************** WEATHER CARD ********************/


/* HEADER */
.weather-card h3 {
    background-color: var(--primary);
    color: var(--text);
    padding: 0.75rem 1rem;
    margin: -1rem -1rem 1rem -1rem;
    border-bottom: 8px solid var(--accent2);
}

.weather-card .label {
  font-weight: bold;
}

.weather-flex {
    display: flex;
    align-items: flex-start;   
    gap: 2rem;                 
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -0.5rem;  
}     


.weather-temp {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}



.forecast-card h3{
  background-color: var(--primary);
  color: var(--text);
  padding: 0.75rem 1rem;
  margin: -1rem -1rem 1rem -1rem;
  border-bottom: 8px solid var(--accent2);
}


.forecast-card {
  padding: 1rem;
  text-align: center;
  
}

.forecast-card p,
.forecast-card span {
  font-size: 0.9rem;
  line-height: 1;
}

#forecast-cards {
    display: flex;
    flex-direction: column;
}


#forecast-cards > div {
  margin-bottom: 0.5rem;
}



/* EVENTS CARD */
.events-card {
  background: var(--accent1);
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  overflow: hidden; 
}

.events-card h3 {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.8rem 1rem;
  margin: 0;
  font-size: 1.1rem;

}


#events-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

#events-table thead {
  display: none;
}


#events-table td {
  padding: 0.9rem 1rem;
  border-bottom: 1px solid #d6d0c5;
}


#events-table tr:last-child td {
  border-bottom: none;
}


#events-table tr:nth-child(odd) {
  background-color: #f7f4ed;
}

#events-table tr:nth-child(even) {
  background-color: #fff;
}


#events-table td:first-child {
  font-weight: 600;
}


#events-table td:last-child {
  white-space: nowrap;
}


/*********** spotlight card *************/

#spotlights {
  grid-column: 1 / -1;  
  border-bottom: 8px solid var(--accent2);
}

#spotlights > h3 {
  display: none;
}


.spotlight-card {
  background: var(--accent);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--primary);
}

.spotlight-card a {
  color: var(--primary);
  text-decoration: underline;
}

.spotlight-logo {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}





























