
/* Larger screen styles */
@media only screen and (min-width: 38rem) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .navigation {
    display: block;
    background-color: transparent;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigation a {
    text-decoration: none;
    font-weight: 500;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr auto; /* branding | spacer | nav/hamburger */
    align-items: center;
    column-gap: 24px;
    background-color: var(--background2);
    color: var(--text2);
    padding: 2rem;
    border-bottom: 20px solid var(--accent2);
  }


  /* hide hamburger on large screens */
  .hamburger {
    display: none;
  }

    .footer-container {
     grid-template-columns: 1fr;
     text-align: left;
  }

  .footer-social {
     margin: 1rem 0;
  }
}


