
/* Larger screen styles */
@media only screen and (min-width: 38rem) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .navigation {
    display: block;
    background-color: transparent;
  }

  .navigation ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigation a {
    text-decoration: none;
    font-weight: 500;
  }


  /* hide hamburger on large screens */
  .hamburger {
    display: none;
  }
}