

/* Larger screen styles */
@media only screen and (min-width: 50rem) {

  header, main, nav, footer {
    max-width: 1400px;
    margin: 0 auto;
}


.navigation {
   display: block; 
   position: static;
   width: auto;
   background:none;
   margin: 0;
   padding: 0;
}

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigation a {
    text-decoration: none;
    font-weight: 500;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    column-gap: 24px;
    background-color: var(--background2);
    color: var(--text2);
    padding: 2rem;
  }
  
  /*********** HOME PAGE *********************/

  .info-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;  
  }
}

  /* hide hamburger on large screens */
  .hamburger {
    display: none;
  }

    .footer-container {
     grid-template-columns: 1fr;
     text-align: left;
  }

  .footer-social {
     margin: 1rem 0;
  }




/************ Home Page *****************/

@media (min-width: 768px) {
  .hero {
    min-height: 65vh;
  }

}


@media (min-width: 1024px) {
  .hero {
    min-height: 80vh;
  }
}

/****************** spotlight ************/

#spotlights {
    grid-template-columns: 1fr 1fr 1fr;

}

