
@media only screen and (min-width: 38rem) {



    #allplaces div {
       
        grid-template-areas:
            "picture title"
            "picture desc"
            "picture address"
            "more more";
   
    }

    .place-card figure img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .place-card:hover figure img {
        transform: scale(1.05);  
        filter: brightness(1.1); 
    }

}
