
@media only screen and (min-width: 38rem) {



    #allplaces div {
       
        grid-template-areas:
            "picture title"
            "picture desc"
            "picture address"
            "more more";
   
    }

}
