
@media only screen and (min-width: 38rem) {



    #allplaces div {
        grid-template-columns: 1.1fr 1fr;
        grid-template-areas:
            "photo header"
            "photo description"
            "photo address"
            "photo button";
        align-items: start;
    }

}
