/* -------- ROOT VARIABLES -------- */
:root {
  
  --gold: #C2B490;    
  --black: #000000;
  --burgundy: #7A1C1C;
  --accent1: #E4DECD;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* text */
  background-color: #ffffff;
  padding: 1rem;
}