/* -------- ROOT VARIABLES -------- */
:root {
  
  --gold: #C2B490;    
  --black: #000000;
  --burgundy: #7A1C1C;
  --accent1: #E4DECD;       

  --font-head: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* text */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* .page-wrap {
  padding: 0 1rem;
  max-width: 1400px;
  margin: 0 auto;
} */



/*----------------- HEADER -----------------*/

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 1rem;
  color: var(--burgundy);
  border-bottom: 10px solid var(--gold);
  padding: 1rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.branding {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.branding img {
  width: 80px;
  height: auto;
  display: block;
}


.navigation ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin-right: 1rem;

}

.navigation a {
  text-decoration: none;
  color: var(--burgundy);
  padding: 1rem;
  font-weight: 600;
}

.navigation a:hover {
    text-decoration: none;
    border-bottom: solid 3px var(--gold);
    color: var(--black);
}

.navigation li a.active {
  border-bottom: solid 3px var(--gold);
  color: var(--black);
  font-weight: 600;
}


/***************** HAMBURGER ****************/

.hamburger {
    background: none;
    color: var(--primary);
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding-right: 1rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/******************MAIN **********************/

main {
  border-top: solid 6px var(--burgundy);
  border-bottom: solid 6px var(--burgundy);
}

/********************HOME*******************/

.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 55rem;
    object-fit: cover;
    display: block;
    border-bottom: 6px solid var(--burgundy);
}


.hero-text {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);

    padding: 1rem 2rem;

    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);

    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.hero-text p {
    font-size: 1.2rem;
}

.btn-primary {
    display: inline-block;
    background-color: var(--burgundy);
    color: #fff;
    padding: .7rem 1.4rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: var(--gold);
    color: black;
}


/* WELCOME SECTION */
.welcome {
    text-align: center;
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

.welcome h2 {
    margin-bottom: 1rem;
    color: var(--burgundy);
}

/* THREE-COLUMN SECTION */
.three-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.card {
    border: 1px solid var(--accent1);
    padding: 1rem;
    background: #fff;
    text-align: center;
    border-radius: 6px;
}

.card img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 1rem auto;
    display: block;
    border-radius: 6px;
}

.btn-card {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1rem;
    background: var(--burgundy);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-card:hover {
    background: var(--gold);
    color: black;
}


/************************FOOTER********************************/

footer {
    display: block;
    background-color: var(--burgundy);
    color: white;
    padding: 1rem 1rem;
    margin-top: 3rem;
}

.footer-content {
    margin: auto;
    text-align: center;


    border-top: solid 10px var(--gold);
}

.footer-content a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.footer-content a:hover {
    color: var(--gold);
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social img {
    width: 30px;
    height: 30px;
    display: block;
}

.social a img {
  transition: filter 0.3s ease;
}

.social a:hover img {
  filter: brightness(0) saturate(100%) invert(81%) sepia(20%) saturate(363%) hue-rotate(359deg) brightness(87%) contrast(90%);
}


