/* Larger screen styles */
@media only screen and (min-width: 64rem) {

 body {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* text */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}


/***************** HAMBURGER ****************/
  .hamburger {
    display: none;
  }























}