/* Larger screen styles */
@media only screen and (min-width: 64rem) {

 body {
  font-family: 'Montserrat', sans-serif;
  color: #000000; /* text */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}


/***************** HAMBURGER ****************/
  .hamburger {
    display: none;
  }


  .navigation {
   display: block; 
   position: static;
   width: auto;
   background:none;
   margin: 0;
   padding: 0;
}

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigation a {
    text-decoration: none;
    font-weight: 500;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    column-gap: 24px;
    background-color: var(--background2);
    color: var(--text2);
    padding: 2rem;
  }


  /* THREE-COLUMN SECTION */
.three-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

/*************JOIN********************/

.join-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  align-items: start;
}





























}