
@media only screen and (min-width: 38rem) {

/**************GALLERY***************/
.gallery-grid {
  grid-template-columns: 1fr 1fr;
}


.gallery-card img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    display: block;
}


}
