

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

header {
    background-color: #f7f7fb;
    box-shadow: 5px 5px 11px rgba(8, 8, 8, 0.5);
    text-align: center;
    padding: 10px;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    color: #4b2e83;
}

#cards {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    margin: 1 15px;
}



#cards section {
    background-color: #f7f7fb;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 5px 6px rgba(0,0,0,0.1);
    
}


#cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding: 10px;
    background-color: #6c6b72;
    margin-top: 10px;
    color: white;
}
